{% extends 'base.html.twig' %}

{% block content_title %}
Réinitialisation du mot de passe
{% endblock %}

{% block content_body %}
<h3>Veuillez entrer votre nouveau mot de passe ci-dessous.</h3>
<form method="post">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit" id="valider">
        Valider le mot de passe
    </button>   
</form>
{% endblock %}
