{% extends 'base.html.twig' %} {# On récupère le template base.html.twig #}

{% block title %}Great Alumni{% endblock %}

{% block body %}
      <main>
            <div class="homepage_marge1"></div>
            <div class="homepage_titre">
                <h1>Bienvenue sur The Great Alumni</h1>
                <h2>Le réseau social des anciens</h2>
                <p>The Great Alumni est un réseau social destiné aux anciens d'une école. Vous pouvez vous inscrire, vous connecter, consulter des news et accéder à de magnifiques forums. Ce site à été développé ave amour par une classe de Bachelor, rien à voir avec l'émission télé de M6.</p>
            </div>
            <div class="homepage_form"><h3>Se connecter</h3>
                <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" placeholder="login" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
            </div>
            <div class="homepage_log">Vous n'avez pas encore de compte? Créer un compte</div>
            <div class="homepage_marge2"></div>
        </main>
{% endblock %}
