{% extends 'base.html.twig' %}

{% block content_title %}Messagerie
{% endblock %}

{% block content_body %}
	<a href="{{path('message')}}">
		<button class="" type="submit">
			Rediger un message 
		</button>
	</a>
	<div class="__row">

	
	</div>
{% endblock %}
