{% extends 'base.html.twig' %}

{% block content_title %}Messagerie
{% endblock %}

{% block content_body %}
<table>

		{% for m in chatUserSender %}
	<tr>
	<td>
		<a href="{{path('writeMessage',{user : m, id : m.id })}}">{{ m.login }}</a>
		</td>
		</tr>
	{% endfor %}
	

	{% for m in chatUserReceiver %}
	<tr>
	<td>
		<a href="{{path('writeMessage',{user : m, id : m.id })}}">{{ m.login }}</a>
		</td>
		</tr>
	{% endfor %}
	
	</table>
{% endblock %}
